[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch-cu121"

[packages]
torch = {version = "==2.5.1", index = "pytorch-cu121"}
torchvision = {version = "==0.20.1", index = "pytorch-cu121"}
mcp = "==1.27.1"
fastapi = "*"
uvicorn = "*"
httpx = "*"
pillow = "*"
transformers = "*"
accelerate = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
